:root {
  --purple-900: hsl(300, 43%, 22%);
  --purple-300: hsl(303, 10%, 53%);
  --purple-100: hsl(300, 24%, 96%);
  --pink-400: hsl(333, 80%, 67%);
  --orange-400: hsl(28, 84%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}