:root {
  --purple-900: hsl(300, 43%, 22%);
  --purple-300: hsl(303, 10%, 53%);
  --purple-100: hsl(300, 24%, 96%);
  --pink-400: hsl(333, 80%, 67%);
  --orange-400: hsl(28, 84%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1;
  color: #333;
  font-size: .9375rem;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: -0.125rem;
  color: var(--purple-300);
}

header p {
  color: var(--purple-300);
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: -0.6px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 48px;
}

article {
  background-color: var(--purple-900);
  border-radius: 8px;
  padding: 32px;
  color: white;
}

article img {
  border-radius: 50%;
  width: 2.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-header h2 {
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: 0px;
}

.card-header p {
  font-size: 1.0625rem;
  font-weight: 400;
  color: var(--pink-400);
}

article>p {
  margin-top: 32px;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.3;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}